# Fairness

In [1]:
from mentat import *
import pandas as pd

In [2]:
data = pd.read_csv("../data/credit-bias-predictions.zip")
data.head()

,NewCreditCustomer,Amount,Interest,LoanDuration,Education,NrOfDependants,EmploymentDurationCurrentEmployer,IncomeFromPrincipalEmployer,IncomeFromPension,IncomeFromFamilyAllowance,...,Other,Owner,Owner_with_encumbrance,Tenant,Entrepreneur,Fully,Partially,Retiree,Self_employed,predicted_probabilities
0,False,530.0,10.68,36,4.0,NaN,5.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0.662289
1,False,530.0,21.57,24,4.0,NaN,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.749224
2,False,2300.0,15.62,36,4.0,0.0,6.0,1159.0,0.0,0.0,...,0,1,0,0,0,1,0,0,0,0.775058
3,True,530.0,27.36,36,4.0,NaN,6.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0.423509
4,True,4250.0,18.94,60,4.0,NaN,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.535847

In [3]:
data['PaidLoan'] = data.PaidLoan.astype(int)

In [4]:
priviledged = data[data.Education == 5.0][['PaidLoan', 'predicted_probabilities']]
ed_4 = data[data.Education == 4.0][['PaidLoan', 'predicted_probabilities']]
ed_3 = data[data.Education == 3.0][['PaidLoan', 'predicted_probabilities']]
ed_1 = data[data.Education == 1.0][['PaidLoan', 'predicted_probabilities']]

In [5]:
from metrics import Fairness

fairness = Fairness.create("Education Level 5", list(priviledged.PaidLoan), list(priviledged.predicted_probabilities))

In [6]:
fairness.addProtectedGroup("Education Level 4", list(ed_4.PaidLoan), list(ed_4.predicted_probabilities)) 
fairness.addProtectedGroup("Education Level 3", list(ed_3.PaidLoan), list(ed_3.predicted_probabilities)) 
fairness.addProtectedGroup("Education Level 1", list(ed_1.PaidLoan), list(ed_1.predicted_probabilities))

In [7]:
fairness.check()

For group Education Level 1: 0.3441743725231176
For group Education Level 3: 0.5501988225191532
For group Education Level 4: 0.7644157759343084